In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("train.csv")

In [3]:
data

           age        income       job  target
0    44.967142  70990.331549  engineer       1
1    38.617357           NaN    doctor       0
2    46.476885  50894.455549  engineer       0
3    55.230299           NaN    doctor       0
4    37.658466           NaN    doctor       1
..         ...           ...       ...     ...
995  37.188997  66052.253575    artist       1
996  57.976865  49602.181111   teacher       0
997  46.408429           NaN   teacher       1
998  34.288210  47553.995541    doctor       1
999  45.725828  38826.460328   teacher       0

[1000 rows x 4 columns]

In [17]:
data.isnull().sum().sort_values(ascending=False).index[0]#problem1

'income'

In [59]:
# 2
data_age = data["age"].dropna()
data_age = data_age.sort_values().reset_index(drop=True)
q1 = data_age.iloc[int(data_age.shape[0]*0.25)-1]
q3 = data_age.iloc[int(data_age.shape[0] * 0.75) - 1]
iqr = q3 -q1
len(data_age[(data_age < (q1 - iqr * 1.5)) | (data_age > (q3 + iqr * 1.5))])

7

In [ ]:
#3
pd.get_dummies(data["job"]).shape[1]

4